@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background: #000;
}

&::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}